<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="csrf-token" content="2Pot5May20Ban17qc9D1gQoqaZeyiqQMF5NmrjrE">
    <title>Quick,Easy and Effective Learning for sure shot success</title>

       <link rel="stylesheet" href="https://cdn.jsdelivr.net/fontawesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/materialize/0.97.8/css/materialize.min.css">
</head>
  <body>
<div class="container">

<div class="content">
  <div class="row" id="mainapp">
<div class="col m9">
  <button type="button" name="button" class="btn waves-effect waves-light" v-on:click="analysecontent">Analyse My Content</button>
<div class="input-field col s12">
      <textarea id="content" class="materialize-textarea" v-model="content" v-on:blur="analysecontent" ></textarea>

    </div>
</div>

<div class="col m3">
  <div class="keywords">
<ol>

  <li v-for="todo in todos" v-bind:class="[todo.found]" >

  {{ todo.text }} - [ {{ todo.count }} ]
  </li>

</ol>
  </div>
  <div class="input-field col s12">
        <textarea id="keywords" class="materialize-textarea" v-model="keywords" v-on:change="reverseMessage"></textarea>

      </div>

</div>   

</div>

</div>
</div>
<footer>

  <script src="https://cdn.jsdelivr.net/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/pouchdb/6.1.1/pouchdb.min.js"></script>
  <script src="https://cdn.jsdelivr.net/materialize/0.97.8/js/materialize.min.js"></script>
  <script src="https://cdn.jsdelivr.net/underscorejs/1.8.3/underscore-min.js"></script>
</footer>
  <script src="admin.js"></script>
  </body>
</html>
